@import 'global';
@import 'fonts';
html {
  font-size: 70.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Gotham";
  background-image: url("../img/fondo3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: -5px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

img {
  width: 30%;
  height: auto;
}

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 50%;
}

p {
  font-size: 1.2rem;
  color: rgb(237, 239, 237);
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

/* Botones */

.btn, .btn-principal {
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 500;
  transition: transform 100ms;
  
}


.btn2, .btn-principal {
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 500;
  transition: transform 100ms;

  
}


.eye, .btn-principal .btn2 {
  border: none;
  border-radius: 5px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.9rem;
  font-weight: 500;
  transition: transform 100ms;

  
}

.btn:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn:hover, .btn2:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: rgb(33, 147, 17);
  background-color: #efe810;
  bottom: 100px;
}

.btn2 {
  color: rgb(33, 147, 17);
  background-color: #efe810;
  margin-top: 700px;
  margin-left: 310px;

}

.eye{
  color: rgb(33, 147, 17);
  background-color: #efe810;
  position:absolute;
  margin-top: 748px;

  margin-left: 310px;
  margin-right: 20px;
  left : 40px;
  z-index: 1;
}


@font-face {
  font-family: "Gotham";
  src: url("../Fonts/GothamBold.ttf");
  font-weight: 800;
  color: rgb(11, 82, 13);
}
* {
  font-family: "Gotham";
  font-weight: 800;
  color: rgb(11, 82, 13);
}

@font-face {
  font-family: "Rubik";
  src: url("../Fonts/RubikMonoOne-Regular.ttf");
  font-weight: 800;
}
h1 {
  font-family: "Gotham";
  font-weight: 400;
  color: rgb(11, 82, 13);
}

h1 {
  font-family: "Rubik";
  font-weight: 400;
}

.Logo {
  text-align: right;
  width: 100px;
  height: auto;
  margin-top: 20px;
  margin-left: 60px;
}

.presentacion h1 {
  margin-top: 0;
  padding-right: 20px;
  font-size: 4rem;
}

.servicios .tipo-servicios {
  text-align: left;
  padding-bottom: 200px;
  
}
.servicios .tipo-servicios i {
  font-size: 10px;
 
}

footer {
  min-height: 100px;
  background-color: rgb(5, 125, 97);
  margin-top: -20px;
  margin-left: -50px;
  margin-right: -8px;
  padding-bottom: 100px;
  padding-top: -600px;

}
footer .Terminos {
  text-align: left;
  margin-top: -80px;
  margin-left: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

footer .Politicas {
  text-align: left;
  margin-top: -29px;
  margin-bottom:-150px;
  margin-left: 480px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

footer .Bases {
  text-align: left;
  margin-top: 136px;
  margin-bottom:200px;
  margin-left: 700px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

footer .Alcohol {
  text-align: left;
  margin-top: -215px;
  margin-bottom:200px;
  margin-left: 880px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

footer .Contactenos {
  text-align: left;
  margin-top: -215px;
  margin-bottom:200px;
  margin-left: 1099px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}

footer .Anheuser {
  text-align: center;
  margin-top:  -170px;
  margin-bottom:-70px;
  margin-left: 400px;
  margin-right: 700px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 100px;
}



.FB{

  width: 35px;
  height: auto;
  text-align: left;
  margin-bottom: -300px;
  margin-left: 40px;
}

  .TW{
  
  width: 30px;
  height: auto;
  text-align: left;
  margin-bottom: -300px;
  margin-left: px;
  }

  .IG{
    width: 30px;
    height: auto;
    text-align: left;
    margin-bottom: -300px;
    margin-left: 10px;
  }
  

  .YT{
    width: 38px;
    height: auto;
    text-align: left;
    margin-bottom: -290px;
    margin-left: 1099px;
  }


  
  .LC{
    width: 300px;
    height: auto;
    position: absolute;
    top: 200px;
    text-align: center;
    margin-left: 350px;
    margin-top: 680px;
    background-repeat: no-repeat;
  
    }

.Botella{
  width: 300px;
  height: auto;
  position: absolute;
  top: 200px;
  text-align: center;
  margin-left: 300px;
  margin-top: 200px;
  background-repeat: no-repeat;

  }


 .Mango{
  width: 350px;
  height: auto;
  margin-top: 450px;
  margin-bottom:70px;
  margin-right: 40px;
  margin-left: 540px;

}





@media (min-width: 1400px) {
  nav, .servicios, .footer-content, .presentacion {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 992px) {
  .presentacion, .tipo-servicios {
    flex-direction: column;
  }
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  nav ul {
    padding-left: 0;
  }
}
@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentacion div h1, .presentacion div p {
    padding: 0;
  }
}




/*# sourceMappingURL=main.css.map */
