
h1 {
    font-family: "Rubik";
    font-weight: 400;
  }
  
  html {
    font-size: 60.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    font-family: "Gotham";
    background-image: url("../img/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
   
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    color: rgb(134, 132, 132);
  }
  
  img {
    width: 150%;
    height: auto;
  }
  
  nav, .servicios, .presentacion, .footer-content {
    width: 80%;
    margin: auto;
  }
  
  .titulo-servicios, .presentacion {
    margin-bottom: 10%;
  }
  
  p {
    font-size: 1.8rem;
    color:  rgb(234, 240, 235);
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 2rem;
    font-weight: lighter;
  }
  
  .btn, .btn-principal, .btn-secundario, .btn-tres {
    border: none;
    border-radius: 2px;
    padding: 0.7em 1.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    transition: transform 100ms;

  }
  
  .btn:hover, .btn-principal:hover, .btn-secundario:hover,.btn-tres:hover {
    transform: scale(1.1);
  }
  
 
  
  .btn-secundario {
    position:absolute;
   border: 1px solid #ef6910;
   background-color: transparent;
   color: #ef6910;
   box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
   margin-left:650px;
   margin-top: 110px;
  }

  .btn-principal {
    position:absolute;
    border: 1px solid #ef6910;
    background-color: #ef6910;
    color: #e6e3e1;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-left:480px;
    margin-top: 110px;
  }

  .btn-tres {
    color: #fff;
    background-color: #ef6910;
    margin-top: 430px;
    margin-left: -520px;
  }
  

  @font-face {
    font-family: "Gotham";
    src: url("../Fonts/GothamBold.ttf");
    font-weight: 800;
    color: rgb(11, 82, 13);
  }
  * {
    font-family: "Gotham";
    font-weight: 800;
    color: rgb(11, 82, 13);
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../Fonts/GothamBold.ttf");
    font-weight: 800;
  }

.Texto1{
color:white;
font-size: 1.8em;
margin-top: -80px;
margin-left: 100px;
}

.bloque{
width: 800px;
height: 100px;
margin-top: -60px;
padding-top: 180px;
background-color: rgb(11, 82, 13);;
}

  h1 {
    font-family: "Gotham";
    font-weight: 400;
    color: rgb(11, 82, 13);
  }
  
  .logo {
    width: 100px;
    height: 100px;
  }
  
  header {
    position: fixed;
    top: 0;
    border-top: 10px solid rgb(52, 53, 51);
    width: 100%;
    line-height: 1.6;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  nav ul {
    display: flex;
    padding: 0;
  }
  nav ul a {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #0a5e11;
  }
  nav ul a:hover {
    color: #8bbc7b;
    transform: scale(1.1);
  }
  
  .presentacion {
    padding-top: 90px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item1 {
    text-align: left;
    width: 600px;
    height: 700px;
    padding-top: 300px;
  }
  .presentacion h1 {
    margin-left: 500px;
    margin-top: -200px;
    padding-right: -50px;
    font-size: 3.5rem;
    font-weight: bolder;
  }
  .presentacion p {
    padding-right: 10px;
    padding-bottom: -100px;
  }
  
  .servicios div {
    text-align: left;
  }
  .servicios .tipo-servicios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .servicios .tipo-servicios i {
    font-size: 10px;
  }
  
  
  
  .imagen1 {
    position: absolute;
    padding-left: 1000px;
    height: 400px;
    width: auto;
    margin-top: -500px;
    margin-left: -1000px;
   
  }

  
  .texto1 {
  position:absolute;
  color:#0a5e11;
  height: 300px;
  width: 300px;
  margin-top: -590px;
  margin-left: 900px;
  padding-left: -100px;
   
  }
  
  
  .flex-item2{
    position: absolute;
    margin-top:300px;
    margin-left: 963px;
    width: 380px;
    height: auto;
  }
  
  
  .btn{
    position:relative;
    
    color:#fff;
    text-shadow:none;
    border-radius:0px;
    background: #18175b;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
    text-decoration: none;
  }
  
  .btn:hover{
    background: #1e1669;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.22);
    color:#fff;
  
  }
  
  
  #modalContent{
    position:absolute;
    top:30%;
    left:35%;
    z-index:6;
    float:left;
    margin:-2% 0px 0px -150px;
    width:786px;
    height: 480px;
    color:#888888;
    line-height:22px;
    padding:15px;
    border-radius:5px;
    background:none;
    border:1px none;
  
    box-shadow:20px 20px 20px 0px rgba(15, 16, 15, 0.70);
  }
  
  
  
  .play{
    position: absolute;
    width: 100px;
    height: auto;
    margin-left: -530px;
    margin-top: -550px;
  }
  

  .video{
  
    width: 800px;
    height: 400px;
  }
  
  
  .boton{
    width:30px;
    height:30px;
    background-color:none;
    margin-left: -9px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
  }
  .boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }
  #modal{
    position:fixed;
    top:0px;
    left:0px;
    z-index:5;
    float:left;
    width:100%;
    height:100%;
    background:rgba(18, 18, 18, 0.8);
    display:none;
    opacity:0;
  }
  
  #modal > a{
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
    float:left;
    width:100%;
    height:100%;
  }
  
  :target{
    display:block!important;
    opacity:1!important;
  }
  
  #modalContent a{
    position:absolute;
    top:6px;
    left:1099px;
    color: rgb(234, 233, 233);
    border-radius:10px;
    padding:10px;
    font-size: 30px;
    text-decoration:none;
  }
  
  
  
  footer {
    min-height: 80px;
    background-color: rgb(16, 158, 124);
    margin-top: 0;
  }
  footer .footer.Terminos {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  @media (min-width: 1400px) {
    nav, .servicios, .footer-content, .presentacion {
      width: 60%;
      margin: auto;
    }
  }
  @media (max-width: 992px) {
    .presentacion, .tipo-servicios {
      flex-direction: column;
    }
    .presentacion div {
      text-align: center;
      margin-bottom: 30px;
    }
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    nav ul {
      padding-left: 0;
    }
  }


  footer {
    min-height: 100px;
    background-color: rgb(5, 125, 97);
    margin-top: -20px;
    margin-left: -50px;
    margin-right: -8px;
   padding-bottom: 5PX;

  
  }
  footer .Terminos {
    text-align: left;
    margin-top: -80px;
    margin-left: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
  }
  
  footer .Politicas {
    text-align: left;
    margin-top: -38px;
    margin-bottom:-150px;
    margin-left: 480px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 100px;
  }
  
  footer .Bases {
    text-align: left;
    margin-top: 130px;
    margin-bottom:-150px;
    margin-left: 480px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 320px;
  }
  
  footer .Alcohol {
    text-align: left;
    margin-top: 130px;
    margin-bottom:-150px;
    margin-left: 560px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 400px;
  }
  
  footer .Contactenos {
    text-align: left;
    margin-top: 130px;
    margin-bottom:-150px;
    margin-left: 480px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 700px;
  }
  
  footer .Anheuser {
    text-align: left;
    margin-top: 200px;
    margin-bottom:200px;
    margin-left: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 200px;
  }
  
  
  .FB{
    width: 30px;
    height: auto;
    margin-bottom: -100px;
    margin-left: 2000px;
    margin-right: -700px;
  }
  
    .TW{
    
    width: 30px;
    height: auto;
    margin-bottom: -100px;
    margin-left: 10px;
    }
  
    .IG{
      width: 30px;
      height: auto;
  
      margin-bottom: -100px;
      margin-left: 10px;
    }
    
  
    .YT{
      width: 38px;
      height: auto;

      margin-bottom: -105px;
      margin-left: 10px;
    }
    
      
.Logo {
    text-align: right;
    width: 100px;
    height: auto;
    margin-top: 20px;
    margin-left: 60px;
  }
  
  @media (max-width: 420px) {
    .presentacion div {
      text-align: center;
      margin-bottom: 30px;
    }
    .presentacion div h1, .presentacion div p {
      padding: 0;
    }
  }